/* CSS resets */

/* Normalize margins, padding, borders, font-size, font inheritance, and vertical alignment */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Normalize line-height to 1 */

body {
	line-height: 1;
}

/* Remove list styles */

ol,ul {
	list-style: none;
}

/* Normalize font-style and font-weight */

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

/* Remove borders and spacing from tables */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Remove border from fieldset and img */

fieldset,img {
	border: 0;
}

/* Left-aligns text in caption and th */

caption,th {
	text-align: left;
}

/* Normalize blockquote, quote, and remove quotation marks from quotes */

blockquote,q{
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content: none;
}
